<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enterprises.devare.amaac_avanzaado">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- UI Pantalla de Inicio -->
        <activity
            android:name=".controlador.activitys.SplashScreen"
            android:theme="@style/AppFullScreenTheme"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- UI Términos y Condiciones -->
        <activity
            android:name=".controlador.activitys.TerminosYCondiciones"
            android:theme="@style/AppFullScreenTheme" />

        <!-- Inicio de las configuraciones de la aplicación AMAAC -->
        <activity
            android:name=".controlador.activitys.IniciarConfiguraciones"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".controlador.activitys.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- UI de Como usar la aplicacion -->
        <activity
            android:name=".controlador.activitys.guiapadreListActivity"
            android:label="@string/guia_padre"
            android:parentActivityName=".controlador.activitys.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="controlador.activitys.MainActivity" />
        </activity>

        <!-- UI detalle de Como usar la aplicacion -->
        <activity
            android:name=".controlador.activitys.guiapadreDetailActivity"
            android:label="@string/title_guiapadre_detail"
            android:parentActivityName=".controlador.activitys.guiapadreListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controlador.activitys.guiapadreListActivity" />
        </activity>

        <activity
            android:name=".controlador.activitys.TecnicaListActivity"
            android:label="@string/consejos_relajacion"
            android:parentActivityName=".controlador.activitys.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controlador.activitys.TecnicaListActivity" />
        </activity>

        <activity android:name=".controlador.activitys.TecnicaDetailActivity"
            android:label="@string/title_tecnica_detail"
            android:parentActivityName=".controlador.activitys.TecnicaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controlador.activitys.TecnicaListActivity" />
        </activity>

        <!-- TABLERO DE COMUNICACION -->
        <!--    android:screenOrientation="landscape"  -->
        <!--    android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:screenOrientation="landscape"
            android:theme="@style/AppFullScreenTheme"
            android:name=".controlador.adapters.Comunicador_main" />


        <activity android:name=".controlador.adapters.IniciarNivel_main" />
        <activity android:name=".controlador.adapters.Vocales_main" />

    </application>

</manifest>